<div class="row">
	<div class="col-lg-12">
		<h2 class="page-header">Tervetuloa</h2>
	</div>
</div>

<br />

<div class="row">
	<div class="col-lg-12">
		<p>
			Tämä sivu on erään salamurhaajapelin pyörittämiseen tarkoitettu ja täältä löytyvät 
			lomake ilmoittautumista varten, säännöt sekä oma sivu jossa pelin käynnissä ollessa 
			näkyvät kohteen tiedot sekä lomake salamurhan ilmoittamiseen. Jos säännöt vaikuttavat
			vähän hassuilta, se saattaa johtua siitä että ne ovat muokattu Helsingin Yliopiston
			salamurhaajien säännöistä. Säännöt on pyritty muokkaamaan mahdollisimman sopiviksi
			peliympäristöä ajatellen. Jos jokin sääntö ei miellytä, asiasta voi ilmoittaa mutta
			järjestäjä pitää itsellään oikeuden muokata tai olla muokkaamatta sääntöjä.
		</p>
		
		<h3>Uusi peli alkamassa!</h3>
		
		<p>
			Nyt on uusi peli alkamassa ja peliin on aikaa ilmoittautua 8.11.2015 klo 23:59 asti. Ilmoittautumisia otetaan vastaan AINOASTAAN tämän sivuston kautta.
		</p>
		
		<h3>Mikä ihmeen salamurhaajapeli?</h3>
		
		<p>
			Josset tiedä, niin sitten voitkin häipyä saman tein. Hei hei.
		</p>
	</div>
</div>