<div class="row">
	<div class="col-lg-12">
		<h2 class="page-header">Säännöt</h2>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<h3>Sääntö numero yksi</h3>
		<ul>
			<li>Terve järki matkassa. Tämä on peli. Tämän on tarkoitus olla hauskaa. Pelin ei tule aiheuttaa mielipahaa pelaajille tai sivullisille. Kaikki mitä säännöt eivät erikseen kiellä, ei ole sallittua.</li>
		</ul>
		
		<h3>Peliin hakeminen</h3>
		<ul>
			<li>Pelaajien oletetaan pelin aikana käyvän tällä sivustolla vähintään joka toinen päivä.</li>
			<li>Järjestäjä käyttää harkintaansa pelaajien hyväksynnässä: jos pelaajakandidaatti esim. ilmoittaa, ettei käytännössä ole pelin aikana saalistajiensa tavoitettavissa, hänen ei ole mielekästä osallistua.</li>
			<li>Joitakin taustatietoja vaaditaan sillä kaikki eivät kuitenkaan täysin tunne toisiaan. Taustatieoja ovat ainakin nimi, toivottu peitenimi, osoite, tuore totuudenmukainen valokuva ja tietoja päivärutiineista.</li>
			<li>Peitenimi on vapaavalintainen nimi, jota käytetään pistetaulussa ja muussa pelinlaajuisessa tiedotuksessa. Järjestäjä hyväksyy nimen oman makunsa ja mieltymystensä mukaan.</li>
			<li>Henkilö, joka jää kiinni tarkoituksellisesti harhaanjohtavista tiedoista saa satikutia.</li>
		</ul>
		
		<h3>Järjestäjä</h3>
		<ul>
			<li>Järjestäjän tyylitaju on pelin lopullinen auktoriteetti.</li>
			<li>Järjestäjän toiminnasta ei voi valittaa.</li>
		</ul>
		
		<h3>Salamurhaajat</h3>
		<ul>
			<li>Järjestäjä arpoo / muuten asettaa pelaajat murharenkaiksi: jokainen pelaaja on sekä saalistettu että saalistaja.</li>
			<li>Pelaajat elävät normaalia elämäänsä kohtuuden rajoissa: Kukaan ei velvoita sinua avaamaan ovea ovikellon soidessa, mutta kotiin lukkiutumista ja antamasi päivärutiinin jatkuvaa halveksumista ei pidetä hyvänä.</li>
			<li>Passiivinen salamurhaaja (ei murhayrityksiä järjestäjän parhaaksi katsomaan ennaltailmoitettuun aikaan) saattaa löytää itsensä tyytymättömän toimeksiantajan kostona etsintäkuulutettujen listalta.</li>
			<li>Salamurhaajan on kiellettyä esiintyä etsivänä tai virkavallan edustajana (poliisi, palomies tms.), tekeytyä kuolleeksi tai väittää muita kuolleiksi tai etsintäkuulutetuiksi.</li>
		</ul>
		
		<h3>Etsivät</h3>
		<ul>
			<li>Surmatut pelaajat voivat ryhtyä etsiviksi, jotka saalistavat etsintäkuulutettuja. Etsiväksi ilmoittaudutaan erikseen.</li>
			<li>Jos etsivät toimivat yhdessä, pisteet jaetaan järjestäjän parhaaksi katsomalla tavalla.</li>
			<li>Etsivien nimet ovat julkisia.</li>
			<li>Etsivien ei tarvitse välittää silminnäkijöistä, mutta yleiset sopivuussäännöt pätevät edelleen. Kohteen voi pidättää Senaatintorilla, muttei ruksalla tai kohteen rauhoitusalueella. Kohdetta siis ei sovi pidättää siellä, missä pakoyritys aiheuttaisi häiriötä.</li>
			<li>Etsiväkin kuolee, jos hänet ammutaan itsepuolustukseksi. Järjestäjä herättää kuolleita etsiviä henkiin tarpeidensa mukaan. – Etsivät eivät voi käyttää epäsuoria aseita.</li>
			<li>Kutakin etsintäkuulutettua jahtaa järjestäjän valitsema joukko etsiviä eli kaikki etsivät eivät saa kaikkia etsintäkuulutuksia.</li>
			<li>Etsivien saama tietomäärä saattaa aluksi olla rajoitetumpi kuin salamurhaajien, mutta saattaa tarkentua ajan kuluessa.</li>
			<li>Pidätys:
				<ul>
					<li>Etsivän on tähdättävä kohdetta aseella ja sanottava selkeästi “[peitenimi], antautukaa”. Kohteen saa tämän jälkeen ampua. Etsivää saa ampua, jos ehtii ensin. Onnistunut etsintäkuulutus päättyy aina kohteen ampumiseen (ts. kohde ei voi antautua).</li>
					<li>Jos kohde ottaa aseen esille, hänet saa ampua heti. Jos kohde lähtee juoksemaan, lause on silti sanottava loppuun ensin.</li>
					<li>Yksi antautumiskehoitus / pidätystilanne riittää, myös vaikka paikalla sattumalta olisi enemmän kuin yksi etsivä.</li>
					<li>Pidätyksiä ei tehdä rauhoitetuilla alueilla. Niihin ei myöskään saa paeta.</li>
				</ul>
			</li>
		</ul>
		
		<h3>Etsintäkuulutus ja etsintäkuulutetut</h3>
		<ul>
			<li>Etsintäkuulutuksesta ei ilmoiteta kohteelle.</li>
			<li>Pelaaja voi erityisissä tilanteissa joutua julkisesti etsintäkuulutetuksi. Tällöin kaikki etsivät saavat yrittää hänen pidättämistään. Lisäksi kaikki salamurhaajat voivat yrittää salamurhata hänet. Salamurhaajat joutuvat edelleen noudattamaan normaaleja todistajasääntöjä häntä metsästäessään.</li>
			<li>Etsintäkuulutettu saa ampua etsivän silminnäkijöiden läsnäollessa (itsepuolustustilanne). Etsintäkuulutettu ei kuitenkaan vieläkään saa surmata varsinaisia uhrejaan &gt;2 silminnäkijän edessä. (Tällaista ei edelleenkään lasketa tapahtuneeksi murhaksi.)</li>
			<li>Etsiviä ei lasketa silminnäkijöiksi.</li>
			<li>Pelkän pelitilanteen perusteella etsiväksi tiedettyä henkilöä ei saa ampua itsepuolustukseksi ennen pidätysyritystä tai selvää epäilyttävää käytöstä (kohti juokseminen jne). Mikään ei tietenkään velvoita sinua pysymään paikalla. Jos _tiedät_ etsivän jahtaavan sinua, saat ampua häntä vapaasti ja silminnäkijöistä välittämättä.</li>
			<li>Mikäli saat jonkun toisen salamurhaajan henkilöllisyyden selville (todistat murhan, kuulet jonkun selittävän toimistaan…), et voi tappaa mutta voit etsintäkuuluttaa hänet 3 päivän sisällä tapahtuneesta.</li>
		</ul>
		
		<h3>Todistajat ja silminnäkijät</h3>
		<ul>
			<li>Silminnäkijä on sivullinen, joka näkee teon. Kaikki silminnäkijät ovat todistajia, mutta todistaja voi olla myös henkilö, joka ruumiin löydyttyä pystyisi tunnistamaan murhaajan.</li>
			<li>Sivullisten&nbsp;näkökenttä on lähtökohtaisesti&nbsp;360°. Jos sivullinen on samassa huoneessa sinun ja kohteesi kanssa murhahetkellä, hän on silminnäkijä, vaikka olisikin katsonut hetkeksi toiseen suuntaan.</li>
			<li>Myrkytyksessä silminnäkijöitä ovat sivulliset,&nbsp;jotka näkevät sekä tavaran, juoman tms myrkytyksen että siitä aiheutuvan&nbsp;kohteen&nbsp;kuoleman.</li>
			<li>Tyylikkäästi toteutetulla salamurhalla ei ole todistajia.</li>
			<li>Jos todistajia kuitenkin on, tapahtuma ei saa aiheuttaa haittaa tai mielipahaa heille tai (todistajien kautta) uhrille.</li>
			<li>Yli 2 silminnäkijää mitätöi toimenpiteen ja johtaa etsintäkuulutukseen.</li>
			<li>1-2 todistajaa vaarantaa salamurhaajan: jokaisen todistetun murhayrityksen yhteydessä jokainen silminnäkijä lisää todennäköisyyttä joutua etsintäkuulutetuksi. Esimerkki: Liisa Lahtaaja tappaa ensimmäisen uhrinsa kahden silminnäkijän nähden. Hän selviää arvonnasta, jossa järjestäjä antaa hänelle 20% mahdollisuuden tulla etsintäkuulutetuksi. Hänen seuraavalla toimenpiteellään on yksi silminnäkijä. Todennäköisyys joutua tekemisiin etsivien kanssa kasvaa.</li>
			<li>Kuten muissakin asioissa, järjenkäyttö todistajissa on tarpeen:
				<ul>
					<li>Olet idiootti, jos ehdoin tahdoin ammuskelet ihmisiä vesipistoolilla kun he puhuvat esimiehilleen. Et myöskään osallistu peleihin sen jälkeen. Ja tämä peli päättyi osaltasi tähän.</li>
					<li>Todistaja ei ole vain silminnäkijä. Jos esim. kävit yksityisasunnossa kutsuttuna vieraana ja ohimennen pistäydyit makuuhuoneessa tappamassa isäntäsi kaverin tms., sinulla on todistaja.</li>
					<li>Jos surmaat yksinäisen henkilön suljetussa huoneessa ja tapaat poistuessasi autiolla käytävällä samaan huoneeseen menevän henkilön, sinulla on todistaja.</li>
				</ul>
			</li>
			<li>Silminnäkijöitä ei tapeta.</li>
		</ul>

		
		<h3>Sivulliset</h3>
		<ul>
			<li>Pelaat peliä, jossa jahtaat vapaaehtoisia kanssaihmisiäsi. Tämä ei oikeuta sinua olemaan epäkohtelias, epämiellyttävä saati vaarallinen ympäristöllesi. Pelin ei tule häiritä sivullisia.</li>
			<li>Sivullisten kunnioitus on olennaista: jos juostessasi pakoon murhaajaasi vahingossa tönäiset jotakuta, sinä pysähdyt ja pyydät anteeksi. Jos hän pudottaa jotakin, sinä nostat sen. Jos juokset pakoon ja seuraajasi raportoi tapahtuman, et päässyt pakoon. Murhaajalla puolestaan odotetaan olevan tyylitajua olla ampumatta uhria kesken kuvaillunkaltaisen tilanteen. Jos ei ole, järjestäjä saattaa päättää hänen ampuneen juuri itsensä.</li>
			<li>Pelistä saa keskustella, mutta et saa paljastaa osallisuuttasi siihen. (Poikkeus: saat toki selitellä omia mokiasi, jos olet vaikkapa ampunut sivullisen.) Tämän säännön tarkoituksena on suojella pelaajia paljastumiselta toisilleen ja estää sivullisten värvääminen pelistä tietoisiksi avustajiksi.</li>
		</ul>
		
		<h3>Rauhoitetut alueet</h3>
		<ul>
			<li>Sairaalat, terveyskeskukset (ml. YTHS), poliisiasemat, kirkot, ruksat tms.</li>
			<li>Vastakkaisen sukupuolen WC-tilat, pukuhuoneet tms.</li>
			<li>Kirjastot, ATK-asemat, toimistot jne ovat vedenkäyttökiellossa. PUM-sääntö ja muut murhatavat hyväksytään.</li>
			<li>Pelaajien asunnot ilman erillistä kutsua. (Sisään ikkunasta – ei, “Haluaisitteko keskustella Nokian osakkeiden hintakehityksestä?” – kyllä.)</li>
			<li>Pelaajat voivat myös erityisistä syistä toivoa henkilökohtaista rauhoituspaikkaa tai -aikaa. Erityinen syy voi olla esim. työpaikka, jossa pelitoiminta on mahdotonta, vaarallista tai muuten haitallista (esim. rakennustyömaat, koe-eläintilat, vartiointitehtävät jne.). Rauhoitusalueella murhaaminen on kiellettyä myös rauhoitetulle itselleen.</li>
			<li>Jotta pelin mielekkyys säilyy, henkilökohtaiset rauhoitetut alueet on pyrittävä pitämään mahdollisimman pieninä.</li>
		</ul>
		
		<h3>Intimiteettisuoja</h3>
		<ul>
			<li>Järjestäjä on vaitiolovelvollinen tietoonsa tulevista henkilökohtaisista asioista, joiden pelaaja toivoo pysyvän salaisina. (Esim. terveydellinen syy vetäytyä pelistä.)</li>
			<li>Pelaajien odotetaan tietävän ja hyväksyvän, että heidän saalistajansa todennäköisesti tarkkailevat heitä ennen murhayrityksiä.</li>
			<li>Saatat hyvinkin saada uhrisi elintavoista tai ihmissuhteista tietoa, jonka pelaaja toivoo pysyvän yksityisenä. Kunnioita tätä.</li>
			<li>Pelaajien nimet julkaistaan pistetaulukossa ja/tai pelitapahtumissa pelaajan kuoltua tai pelin päätyttyä.</li>
		</ul>
		
		<h3>Salamurha</h3>
		<ul>
			<li>Fyysinen kontakti uhrin ja murhaajan välillä on ehdottomasti kielletty.</li>
			<li>Jos joku pitää ovea kiinni, sen pakottaminen auki on kielletty. (Vaaratilanne. Sitä paitsi salamurha ei ole voimailukilpailu.)</li>
			<li>Uhri on tietenkin vapaa juoksemaan minkä pääsee.</li>
			<li>Molemminpuolinen järjenkäyttö säästää järjestäjän vaivaa. Tappajallasi on pistoolia simuloiva vesipistooli. Ei, se eteesi nostamasi virsikirja ei riitä suojaamaan sinua. Ovet ja huonekalut sen sijaan riitävät. Mutta johdonmukaisuudellamme on rajansa: vesipyssy kantaa sen minkä kantaa. Ehkäpä oletamme murhaajien olevan hyvin, hyvin huonoja ampujia?</li>
			<li>Siihen osui = se kuoli. “Osui” tarkoittaa osumaa mihin tahansa ruumiinosaan, ei sitä, että kohteesi kastui läpimäräksi.</li>
			<li>Päähän ei tähdätä millään aseella, vesipistooli mukaanlukien.</li>
			<li>Mitä todistajiin tulee: vesipistooli oletetaan vaimennetuksi.</li>
			<li>Murhayrityksen jälkeen uhri ja murhaaja raportoivat tapahtumasta tämän sivuston "Oma sivu" osiossa. Järjestäjä välittää murhaajalle tiedot seuraavasta toimeksiannosta ja uhri voi ilmoittautua etsiväksi.</li>
			<li>Murhan suorituksessa huomioitavaa:
				<ul>
					<li>Toimenpide ei saa aiheuttaa vaaratilanteita. (Uhri ei saa tekohetkellä kantaa raskaita / vaarallisia / särkyviä esineitä, käyttää vaarallisia laitteita jne.)</li>
					<li>Toimenpide ei saa aiheuttaa vahinkoa. (Sadan euron oppikirjat, sähkölaitteet, esillä olevat kemikaalit jne. kärsivät vedestä.)</li>
					<li>Toimenpide ei saa aiheuttaa kohtuutonta häiriötä sivullisille.</li>
					<li>Epäonnistuneen salamurhan uhri voi harkintansa mukaan ilmiantaa murhaajan järjestäjän kautta etsiville. 24h ilmiannosta etsivät saavat epäonnistuneen murhaajan tiedot. Myös uhri saa halutessaan samat tiedot, mutta vain jos tekee ilmiannon.</li>
					<li>Sivullisten tappaminen on kiellettyä (esim. ovenkahvamyrkyt) ja onnettomuudet tulee raportoida.</li>
				</ul>
			</li>
		</ul>

		
		<h3>Itsepuolustus</h3>
		<ul>
			<li>Murhaa yrittävää saa toki ampua takaisin. Jos onnistut, epäpätevä murhaaja voi ilmoittautua etsiväksi ja hänen saalistajansa saa uuden kohteen. Arvaa kenet.</li>
			<li>Se, joka osui ensin, sai tahtonsa läpi. Mitään “olisin ehtinyt vielä ampua ennen kuin kynsi kylmenee” keskustelua ei käydä kuolinpaikallasi. Jos uhri ja murhaaja eivät todellakaan osaa sanoa kumpi osui ensin, molemmat kuolivat.</li>
			<li>Itsepuolustustilanteessa vesipistoolia kantavan tai muuten epäilyttävästi (‘epäilyttävästi’: olisiko henkilö epäilyttävä myös silloin, jos et olisi mukana pelissä?)&nbsp;käyttäytyvän henkilön voi olettaa murhaajaksi ja hänet saa ampua. Älä kuitenkaan tapa kaveriasi, jonka luulet tai oletat olevan pelissä!</li>
			<li>Mikäli vainoharhainen uhri tulee ampuneeksi vesipistoolillaan viatonta sivullista, hänen oletetaan huolehtivan sosiaalisista ongelmistaan itse ja raportoivan tapahtumasta järjestäjälle. Tämä ei päätä peliäsi, mutta johtaa mahdollisesti etsintäkuulutukseen.</li>
		</ul>
		
		
		<h3>Pelin päättyminen</h3>
		<ul>
			<li>
				Peli päättyy kun
			
				<br>
				
				<ol type="a">
					<li>sen aikaraja tulee täyteen</li>
					<li>viimeinen pelaaja murhaa toiseksi viimeisen olematta etsintäkuulutettu</li>
					<li>etsivät saavat viimeisen pelaajan kiinni</li>
					<li>etsivät saavat toiseksi viimeisen pelaajan kiinni ja viimeinen pelaaja ei ole etsintäkuulutettu</li>
					<li>järjestäjä julistaa sen päättyneen.</li>
				</ol>
			</li>
		</ul>
	
	</div>
</div>