<div class="row">
	<div class="col-lg-12">
		<h2 class="page-header">Aseet</h2>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
	
	<h3>Yleisperiaatteet kaikessa aseiden käytössä</h2>
	<ul>
		<li>Tämä on peli. Tämän on tarkoitus olla hauskaa. On helppoa suunnitella esim. uhrin ulko-oveen asennettu epäurheilullinen pommi, jota sisältä tulevan on täysin mahdotonta välttää. Tällaista ei tehdä: kaikkien salamurhayritysten pitää edes teoriassa olla riittävän vainoharhaisen uhrin vältettävissä.</li>
		<li>Mikäli järjestäjä toteaa aseen olleen epäreilu, tekoa ei tapahtunut.</li>
		<li>Uhrille tai sivullisille ei saa aiheuttaa todellista vahinkoa.</li>
		<li>Mikään ase ei saa näyttää oikealta tai johtaa ongelmiin sivullisten kanssa.</li>
		<li>Fyysinen kontakti uhrin ja murhaajan välillä on kielletty</li>
		<li>Lähtökohtaisesti aseet, joita ei ole erikseen sallittu, ovat kiellettyjä.&nbsp;Järjestäjä voi kuitenkin sallia harkintansa mukaan myös aseita sallittujen aseiden listan ulkopuolelta. Päätökset tehdään tapauskohtaisesti ja ENNEN&nbsp;murhayritystä.</li>
		<li>Järjestäjä arvostaa tyyliä ja yleensä palkitsee kekseliäistä aseista pisteytyksessään. Hyviä esimerkkejä ovat keihäs, puhallusputki, moottorisaha ja myrkkykaasu.</li>
		<li>Jos järjestäjä on ilmoittanut, että muita aseita ei sallita, muita aseita ei sallita. Rukoileminen, anominen, lahjonta tai kiristys ei auta.</li>
		<li>REPLIKAT JA MUUT AIDON NÄKÖISET ASEET OVAT EHDOTTOMASTI KIELLETTYJÄ. Ne aiheuttavat sivullisille huomattavaa stressiä ja siksi mahdollisesti vaaratilanteita, ovat laittomia julkisilla paikoilla (järjestyslaki 2003, 10 §) ja saattavat aiheuttaa poliisitoimia ansaitun kovaotteisen pidätyksen kautta aina piiritystilanteisiin ja evakuointeihin.</li>
		<li>Aseiden täytyy kuitenkin olla selkeästi tunnistettavissa peliin kuuluviksi aseiksi (esimerkiksi ei-pistoolinmuotoiset, vettä suihkuttavat välineet eivät ole aseita). Ei, vaikka Martsa lainaisikin paloletkua, sitä ei saa käyttää.</li>
		<li>Aseen pitää olla ampumakuntoinen / ladattu myös silloin kun käytät PUM-sääntöä, ja aseen täytyy olla esillä ampumishetkellä.</li>
	</ul>

	<h3>Pistoolit</h3>
	<ul>
		<li>Vesipistooli on perusase. Vesipistoolisi sisältää vettä, eikä näytä oikealta aseelta. Vesipistoolin valinta on pelaajan oma asia: pieni ase on helppo kätkeä vaatetukseen, muttei juuri kanna, super soaker tms. kantaa vaikka minne, mutta sellaisen kanssa ei lähesty uhria huomaamatta.</li>
		<li>Airsoft-aseet ovat kiellettyjä.</li>
		<li>Päähän ei saa tähdätä</li>
		<li>“PUM-sääntö”: Ihmisten kasteleminen vesipistoolilla ei aina ole tarpeen, jotta murha olisi varma. Jos pääset alle metrin päähän kohteestasi ja saat vesipyssyn tai muun kulloistenkin sääntöjen salliman “pistoolin” esille, osoitat sillä kohdettasi ja sanot kuuluvalla äänellä “PUM”, hän on kuollut. Tämä tietenkin sillä ehdolla, että kohteesi on edelleen alle metrin päässä sinusta kun sana loppuu.</li>
	</ul>
	
	<h3>Pommit</h3>
	<ul>
		<li>POMMIIN ON AINA KYSYTTÄVÄ LUPA JÄRJESTÄJÄLTÄ</li>
		<li>Simuloitujen pommipakettien lähettäminen postin kautta on kielletty.</li>
		<li>Simuloitujen pommipakettien jättäminen valvomatta julkiselle paikalle on kielletty.</li>
		<li>Pommin tulee tehdä jotain todellista, esimerkiksi piipittää tai pamahtaa joko ajastetusti tai reaktiona uhrin toimeen. (Siirtäminen, avaaminen, pommiin menevän langan kiristyminen jne.)</li>
		<li>Pommia ei saa asentaa laukeamaan tavalla, jota vainoharhaisen uhrin olisi mahdotonta havaita tai välttää. Toisaalta, jos vieraileva kaverisi toimittaa tikittävän paketin sänkysi alle, se on voi voi (ja pum).</li>
		<li>Jos epäilet pakettia pommiksi, voit kutsua paikalle pommiryhmän, joka purkaa pommin: ota yhteyttä järjestäjään. Tämän jälkeen pommi on (välittömästi) vaaraton. Pommiryhmän paikalle kutsumisesta seuraa kuitenkin -2 pisteen sanktio. Vaihtoehtoisesti voit yrittää purkaa pommia itse tai jättää sen paikoilleen.</li>
		<li>Pommipaketin sivujen on aina oltava minimissään 5cm pitkiä/leveitä/syviä.</li>
		<li>Yhden litran (esim 10 cm x 10 cm x 10 cm) pommipaketin tapposäde on kolme esteetöntä metriä.</li>
		<li>Kolmen litran (esim. 20 cm x 30 cm x 5 cm) pommipaketin tapposäde on kahdeksan esteetöntä metriä. Tätä suurempia tapposäteitä ei pelissä ole.</li>
		<li>Muiden kuin mainittujen tilavuuksien tapposäteistä sovitaan erikseen järjestäjän kanssa.</li>
		<li>Pommimurhassa jokaisesta&nbsp;sivullisesta uhrista seuraa -2 pisteen rangaistus. Sivullisia uhreja saa olla enintään 4 (per kohde), muuten&nbsp;murha lasketaan epäonnistuneeksi&nbsp;ja tekijä etsintäkuulutetaan.</li>
		<li>Pommin tulee mekanismin lisäksi sisältää lappu, jossa on peitenimelläsi allekirjoitettu haluamasi tervehdys uhrille ja tieto pommin tapposäteestä sekä seuraava teksti muuttamattomana: “Tämä on simuloitu LEIKKIpommi, joka kuuluu Helsingin yliopiston salamurhaajien (http://www.salamurhaajat.net) salamurhaturnaukseen [vuosi]. Jos luette tätä, ettekä tiedä pelistä, on tapahtunut virhe ja pyydämme, että ilmoitatte siitä osoitteeseen hallitus(at)salamurhaajat.net. Pahoittelumme.” Tämän tekstin pitää olla nähtävissä heti samalla kuin muu viesti, eikä esim. ilkeän näköisen mekanismin päälläolevan verenhimoisen uhkakirjeen kääntöpuolella.</li>
		<li>Autopommeihin liittyy erityisehtoja. Tässä on erityisen tärkeää, että otat ensin yhteyttä järjestäjään ja kerrot suunnitelmastasi. Tärkeintä on ettei pommi saa missään tilanteessa irrota ja aiheuttaa vaaratilannetta liikenteessä.</li>
	</ul>
	
	<h3>Ruokamyrkyt</h3>
	<ul>
		<li>Ainoa sallittu ruokamyrkky on etikka, jota pitää olla ruuassa tai juomassa niin paljon, että uhri sen huomaa. Murhaaja ei ole korvausvelvollinen maustamastaan ruoka-aineesta, ellei jää kiinni itse teossa.</li>
		<li>Myrkyttäessäsi juomia, otathan huomioon, että sivulliset saattavat tulkita tilanteen väärin.</li>
	</ul>
	
	
	<h3>Kontaktimyrkyt</h3>
	<ul>
		<li>AINOA SALLITTU KONTAKTIMYRKKY ON VAPAAVALINTEINEN KÄSIVOIDE, jota pitää olla kohdepinnalla niin vahva kerros, että uhri sen huomaa.</li>
		<li>Myrkkykirjeiden lähettäminen postitse on kielletty. Myrkytetty kirje/lehti/tms. on siis henkilökohtaisesti vietävä kohteen postiluukkuun.</li>
		<li>Myös myrkkykirjeen tulee sisältää lappu, jossa on peitenimelläsi allekirjoitettu haluamasi tervehdys uhrille sekä seuraava teksti muuttamattomana: “Tämä on simuloitu myrkkykirje joka kuuluu Helsingin yliopiston salamurhaajien (http://www.salamurhaajat.net) salamurhaturnaukseen [vuosi]. Aine kirjeessä on käsivoidetta. Jos luette tätä, ettekä tiedä pelistä, on tapahtunut virhe ja pyydämme, että ilmoitatte siitä osoitteeseen hallitus(at)salamurhaajat.net. Pahoittelumme.” Tämän tekstin pitää olla nähtävissä heti samalla kuin muu viesti.</li>
		<li>Ovenkahvojen myrkyttäminen on kiellettyä mikäli voidaan olettaa, että joku muu henkilö kuin uhri käyttää ovea. Esim. yksin asuvan uhrin kotioven tai auton ovenkahvan saa myrkyttää, mutta ruksan ovenkahvaa ei saa myrkyttää.</li>
		<li>Kontaktimyrkytettyä pintaa voi turvallisesti käsitellä esimerkiksi hanskoilla.</li>
	</ul>
	
	
	<h3>Sekalaisia huomioita</h3>
	<ul>
		<li>Jos leluase simuloi asetta, sitä käsitellään koko ajan kuin simuloitua asetta. On yksiselitteisesti kiellettyä esim. antaa uhrille käsivoidetta käsivoiteena ja sen jälkeen väittää uhrin joutuneen myrkytetyksi.</li>
	</ul>